{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - article_card_style: {Checkbox} The setting changes the article card style
  - show_image: {Boolean} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {Boolean} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {Boolean} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_tags: {Boolean} The setting either show the article tags or not. If it's not included it will not show the tags by default
  - placeholder_image: {String} The placeholder image to use when no article exists. Default: 'article-apparel-1' (optional)
  - color_scheme: {String} The color scheme to use (optional)
  - animate_enabled: {Boolean} Enable animation. Default: true (optional)

  Usage:
  {% render 'article-card', article: article,
  media_aspect_ratio: '1'
  article_card_style: article_card_style,
  show_image: show_image,
  show_date: show_date,
  show_author: show_author,
  show_tags: show_tags,
  placeholder_image: placeholder_image,
  color_scheme: color_scheme,
  animate_enabled: true %}
{% endcomment %}
{{ 'article-card.css' | asset_url | stylesheet_tag }}

{% liquid
  if animate_enabled == null
    assign animate_enabled = true
  endif
  assign tag_name = 'div'
  if animate_enabled
    assign tag_name = 'xo-animate'
  endif
%}

<{{ tag_name }}
  xo-cascade
  class='article-card article-card--{{ article_card_style }}{% if color_scheme %} color-{{ color_scheme }}{% endif %}'
>
  {%- if show_image == true and article.image -%}
    <div class='article-card__header'>
      <a href='{{ article.url }}' class='article-card__image'>
        {% render 'image', image: article.image, aspect_ratio: media_aspect_ratio %}
      </a>
      {%- if show_tags -%}
        {% render 'blog-tags', all_tags: article.tags %}
      {%- endif -%}
    </div>
  {%- endif -%}
  <div class='article-card__information'>
    {%- if show_author or show_date -%}
      <div class='article-card__additional-info'>
        {%- if show_author -%}
          <div class='article-card__author'>{{ article.author }}</div>
        {%- endif -%}
        {%- if show_author and show_date -%}
          <div class='article-card__dot'></div>
        {%- endif -%}
        {%- if show_date -%}
          <span class='article-card__date'>{{ article.published_at | time_tag: format: 'date' }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}
    <h2 class='article-card__title h6'>
      <a href='{{ article.url }}'>
        {{ article.title | escape }}
      </a>
    </h2>
    {%- if show_excerpt -%}
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <div class='article-card__description'>
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html }}
          {%- else -%}
            {{ article.content | strip_html }}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endif -%}
    {% if show_tags and article.image == blank %}
      <div class="article-card__tag-backup">
        {% render 'blog-tags', all_tags: article.tags %}
      </div>
    {% endif %}
  </div>
</{{ tag_name }}>
