{% comment %}
  Renders the cart table.

  Usage:
  {% render 'cart-table' %}
{% endcomment %}

<div class='xo-cart-table'>
  <form action='{{ routes.cart_url }}' method='post' id='cart'>
    <table class='xo-table'>
      <thead>
        <tr class='xo-table__head-row'>
          <th class='xo-table__head-column xo-table__head-product'>{{ 'sections.cart.headings.product' | t }}</th>
          <th class='xo-table__head-column xo-table__head-quantity'>{{ 'sections.cart.headings.quantity' | t }}</th>
          <th class='xo-table__head-column xo-table__head-total'>{{ 'sections.cart.headings.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for item in cart.items -%}
          <tr class='xo-table__body-row'>
            <td class='xo-table__body-product' data-th='{{ 'sections.cart.headings.product' | t }}'>
              <xo-product xo-section-id='{{ section.id }}' xo-product-id='{{ item.product_id }}' xo-line='{{ forloop.index }}'>
                {% render 'cart-item', item: item %}
              </xo-product>
            </td>
            <td class='xo-table__body-quantity' data-th='{{ 'sections.cart.headings.quantity' | t }}'>
              <xo-product xo-section-id='{{ section.id }}' xo-product-id='{{ item.product_id }}' xo-line='{{ forloop.index }}'>
                <div class='xo-cart-table__quantity'>
                  {% render 'quantity', value: item.quantity %}
                </div>
              </xo-product>
            </td>
            <td class='xo-table__body-total' data-th='{{ 'sections.cart.headings.total' | t }}'>
              <div class='xo-cart-table__price'>
                {%- if item.original_line_price != item.final_line_price -%}
                  <div class='cart-item__discounted-prices'>
                    <div class='cart-item__old-price'>
                      {{ item.original_line_price | money }}
                    </div>
                    <div class='cart-item__new-price'>
                      {{ item.final_line_price | money }}
                    </div>
                  </div>
                {%- else -%}
                  <div class='cart-item__old-price'>
                    {{ item.original_line_price | money }}
                  </div>
                {%- endif -%}
                <xo-product xo-section-id='{{ section.id }}' xo-product-id='{{ item.product_id }}' xo-line='{{ forloop.index }}'>
                  <xo-cart-remove role='button' tabindex='0'>
                    {% assign delete_label = 'sections.cart.delete' | t %}
                    <div class='xo-cart-table__remove'>
                      {{ delete_label }}
                    </div>
                  </xo-cart-remove>
                </xo-product>
              </div>
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </form>
</div>
