{% comment %}
  Renders a color button

  Accepts:
  - name: {string} Name of the color button
  - value: {string} Value of the color button
  - label: {string} Label of the color button (optional)
  - size: {string} Size of the color button. Default: 16px (optional)
  - count_id: {string} Unique ID for the count element (optional, support filters)
  - count_value: {string} Value of the count element (optional, support filters)
  - checked: {Boolean} If the radio button is checked (optional)
  - image: {Image} Image of the color button (optional)
  - use_image: {Boolean} If the image should be used (optional)
  - signal: {String} Signal to be used for color button(optional)

  Usage:
  {% render 'field-color',
    name: '{{ signal }}color',
    value: 'color',
    label: 'Color',
    size: '1.6rem'
  %}
{% endcomment %}

{% liquid
  assign color = value
  if value.swatch.color
    assign color = value.swatch.color
  endif

  assign is_check = is_check
%}

<label
  class='xo-field-color'
  style='--size: {{ size | default: '2rem' }}; --color: {{ color }};'
  data-button='true'
  tabindex='0'
  aria-label='{{ value | escape }}'
>
  <input
    class='xo-field-color__input'
    type='radio'
    name='{{ name }}'
    value='{{ value }}'
    xo-label="{{ value.name | escape }}"
    xo-option-value-id="{{ value.id }}"
    xo-variant-id="{{ value.variant.id }}"
    {%- if value.available == false and value.variant.id == blank -%}
      xo-unavailable
    {%- endif -%}
    {% if value.variant.available == false and value.variant.id != blank %}
      xo-disabled
    {%- endif -%}
    {% if is_check %}
      {% if value.selected %}
        checked
      {% endif %}
    {% endif %}
  >
  <span class='xo-field-color__item'>
    <span class='xo-field-color__icon'>
      {%- render 'icon', name: 'check', size: '1.4rem', color: '#FFFFFF' -%}
    </span>
    {% if use_image and image != blank %}
      {% render 'image', image: image, aspect_ratio: 1, container_class: 'xo-field-color__image' %}
    {% endif %}
  </span>
  {% if label != null and settings.variant_color_show_label %}
    <span class='xo-field-color__label'>
      <span>{{ label }}</span>
      {% if count_value %}
        <xo-filters-count xo-unique-id='{{ count_id }}'> ({{ count_value }}) </xo-filters-count>
      {% endif %}
    </span>
  {% endif %}
</label>
