{% comment %}
  Render footer type 5
  Usage:
  {% render footer-type-5 %}
{% endcomment %}

<div class='xo-footer__type-5'>
  <div class='xo-footer__top'>
    <div class='xo-footer__top-content'>
      <xo-animate xo-cascade class='xo-footer__image'>
        {% render 'image', image: section.settings.image, placeholder: 'product-1' %}
      </xo-animate>
      <xo-animate xo-cascade class='xo-footer__heading xo-footer__heading--top h1'>
        {{ section.settings.heading -}}
      </xo-animate>
      {%- if section.settings.newsletter_enable -%}
        <xo-animate xo-cascade class='xo-footer__newsletter'>
          {%- if section.settings.newsletter_heading != blank -%}
            <div class='xo-footer__newsletter-heading'>{{ section.settings.newsletter_heading }}</div>
          {%- endif -%}
          {%- form 'customer', id: 'ContactFooter', class: 'xo-footer__form' -%}
            <input type='hidden' name='contact[tags]' value='newsletter'>
            <div>
              <div class='xo-footer__field-input'>
                {% assign value = form.email %}
                {% assign label = 'newsletter.label' | t %}
                {% capture attr %}
                            aria-required='true'
                            autocorrect='off'
                            {% if form.errors %}
                              autofocus
                              aria-invalid='true'
                              aria-describedby='ContactFooter-error'
                            {% elsif form.posted_successfully? %}
                              aria-describedby='ContactFooter-success'
                            {% endif %}
                            required
                          {% endcapture %}
                {% render 'field-input',
                  type: 'email',
                  name: 'contact[email]',
                  value: value,
                  label: label,
                  attr: attr,
                  id: 'contact[email]-footer',
                  pattern: '[A-Za-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$'
                %}
                <button
                  type='submit'
                  class='xo-footer__field-button'
                  name='commit'
                  id='Subscribe'
                  aria-label='{{ 'newsletter.button_label' | t }}'
                >
                  {% render 'icon', name: 'arrow-with-reer-right', size: '24' %}
                </button>
              </div>

              {%- if form.errors -%}
                <small class='newsletter-form__message form__message' id='ContactFooter-error'>
                  {% for error in form.errors %}
                    {% if error == 'form' %}
                      {%- render 'icon-error' -%}
                      {{ form.errors.messages[error] }}
                    {% else %}
                      {%- render 'icon-error' -%}
                      {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
                    {% endif %}
                  {% endfor %}
                </small>
              {%- endif -%}
              {%- if form.posted_successfully? -%}
                <h6
                  class='newsletter-form__message newsletter-form__message--success form__message'
                  id='ContactFooter-success'
                  tabindex='-1'
                >
                  {{- 'newsletter.success' | t }}
                </h6>
              {%- endif -%}
            </div>
          {%- endform -%}
          {%- if show_social and has_social_icons -%}
            <div class='xo-footer__social'>
              <xo-animate xo-cascade>
                {%- render 'socials' -%}
              </xo-animate>
            </div>
          {%- endif -%}
        </xo-animate>
      {%- endif -%}
    </div>
    <div class='xo-footer__top-container'>
      <xo-animate xo-cascade class='xo-footer__heading h1'>
        {{ section.settings.heading -}}
      </xo-animate>
      <div class='xo-footer__top-right'>
        <xo-animate xo-cascade class='xo-footer__logo'>
          <a href='{{ routes.root_url }}' aria-label='footer logo'>
            {%- if section.settings.logo != blank -%}
              <div class='xo-footer__logo-image' style='--width: {{ section.settings.image_width }}px'>
                {% render 'image', image: section.settings.logo %}
              </div>
            {%- else -%}
              <span class='xo-footer__logo-heading-logo' style='--width: {{ section.settings.image_width }}px'>{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </xo-animate>
        <div class='xo-footer__link'>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'link_list' %}
                <xo-animate xo-cascade class='xo-footer__menu'>
                  {%- if block.settings.heading != blank -%}
                    <div class='xo-footer__menu-heading'>
                      {{- block.settings.heading -}}
                    </div>
                  {%- endif -%}
                  {% if block.settings.menu != blank %}
                    <ul class='xo-footer__list'>
                      {%- for link in block.settings.menu.links -%}
                        <li class='xo-footer__list-item'>
                          <a
                            href='{{ link.url }}'
                          >
                            {{ link.title }}
                            <span class='xo-footer__list-item-line'></span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {% else %}
                    <ul class='xo-footer__list'>
                      {%- for i in (1..3) -%}
                        <li class='xo-footer__list-item'>
                          <a
                            href='#'
                          >
                            {{ 'general.share.share_url' | t }}
                            <span class='xo-footer__list-item-line'></span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {% endif %}
                </xo-animate>
              {% when 'information' %}
                <xo-animate xo-cascade class='xo-footer__menu'>
                  <div class='xo-footer__information'>
                    <div class='xo-footer__menu-heading'>
                      {{- block.settings.heading -}}
                    </div>
                    <div class='xo-footer__list'>
                      {{ block.settings.information }}
                    </div>
                    <div></div>
                  </div>
                </xo-animate>
            {% endcase %}
          {% endfor %}
          <div class='xo-footer__menu'></div>
        </div>
      </div>
    </div>
  </div>
</div>
