{% comment %}
  Renders a horizontal menu

  Accepts:
  - menu: {Object} Menu object
  - event_type: {'hover' | 'click'} Event type to trigger the menu. Default: 'hover' (optional)

  Usage:
  {% render 'menu-horizontal', menu: section.settings.menu %}
{% endcomment %}

{% liquid
  unless event_type
    assign event_type = 'hover'
  endunless
%}

{% if menu != blank %}
  <ul class='xo-menu-horizontal list-unstyled{% if event_type == 'hover' %} xo-menu-horizontal--hover{% else %} xo-menu-horizontal--click{% endif %} {% if class %} {{ class }}{% endif %}'>
    {% for link in menu.links %}
      <li class='xo-menu-horizontal__item{% if event_type == 'hover' %} xo-menu-horizontal__item--hover{% else %} xo-menu-horizontal__item--click{% endif %}{% if link.current %} xo-menu-horizontal__item--current{% endif %}'>
        <xo-mega-menu class='xo-menu-horizontal__mega-menu' xo-name='header-mega-menu' xo-index='{{ forloop.index0 }}'></xo-mega-menu>
        <a
          rel='preload'
          class='xo-menu-horizontal__link'
          href='{{ link.url }}'
          {% if link.current %}
            aria-current='page'
          {% endif %}
        >
          <span class='xo-menu-horizontal__label'>
            {{ link.title }}
          </span>
          {% if link.links != blank %}
            <span class='xo-menu-horizontal__arrow'>
              {% render 'icon', name: 'chevron-down', size: '1.6rem' %}
            </span>
          {% else %}
            <span class='xo-menu-horizontal__arrow xo-menu-horizontal__arrow--mega-menu'>
              {% render 'icon', name: 'chevron-down', size: '1.6rem' %}
            </span>
          {% endif %}
        </a>
        {% if link.links != blank %}
          <ul class='xo-menu-horizontal__sub-menu xo-menu-horizontal__sub-menu--container list-unstyled'>
            {% for childlink in link.links %}
              <li
                class='
                  xo-menu-horizontal__item xo-menu-horizontal__item--sub{%- if event_type == 'hover' %} xo-menu-horizontal__item--hover{%- else %} xo-menu-horizontal__item--click{%- endif -%}{%- if childlink.current %} xo-menu-horizontal__item--current{%- endif -%}
                  {%- if childlink.links != blank %}
                    xo-menu-horizontal__item--has-children
                    {%  else %}
                    xo-menu-horizontal__item--no-children
                  {%- endif -%}
                '
              >
                <a
                  rel='preload'
                  class='
                    xo-menu-horizontal__link xo-menu-horizontal__link--sub{%- if forloop.last == true %}
                      xo-menu-horizontal__link--last
                    {%- endif -%}
                  '
                  href='{{ childlink.url }}'
                  {% if childlink.current %}
                    aria-current='page'
                  {% endif %}
                >
                  <span class='xo-menu-horizontal__label'>
                    {{ childlink.title }}
                  </span>
                  {% if childlink.links != blank %}
                    <span class='xo-menu-horizontal__arrow'>
                      {% render 'icon', name: 'chevron-right', size: '1.6rem' %}
                    </span>
                  {% endif %}
                </a>
                {% if childlink.links != blank %}
                  <ul class='xo-menu-horizontal__sub-menu list-unstyled'>
                    {% for grandchildlink in childlink.links %}
                      <li
                        class='xo-menu-horizontal__item xo-menu-horizontal__item--sub{% if grandchildlink.current %} xo-menu-horizontal__item--current{% endif %}{% if forloop.index0 == 0 %} xo-menu-horizontal__item--first{% endif %}'
                        style='--order: {{ forloop.index }};'
                      >
                        <a
                          rel='preload'
                          class='
                            xo-menu-horizontal__link xo-menu-horizontal__link--sub{%- if forloop.last == true %}
                              xo-menu-horizontal__link--last
                            {%- endif -%}
                          '
                          href='{{ grandchildlink.url }}'
                          {% if grandchildlink.current %}
                            aria-current='page'
                          {% endif %}
                        >
                          <span class='xo-menu-horizontal__label'>
                            {{ grandchildlink.title }}
                          </span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <ul class='xo-menu-horizontal list-unstyled{% if event_type == 'hover' %} xo-menu-horizontal--hover{% else %} xo-menu-horizontal--click{% endif %}'>
    {% for i in (1..4) %}
      <li class='xo-menu-horizontal__item{% if event_type == 'hover' %} xo-menu-horizontal__item--hover{% else %} xo-menu-horizontal__item--click{% endif %}{% if link.current %} xo-menu-horizontal__item--current{% endif %}'>
        <xo-mega-menu class='xo-menu-horizontal__mega-menu' xo-name='header-mega-menu' xo-index='{{ forloop.index0 }}'></xo-mega-menu>
        <a
          rel='preload'
          class='xo-menu-horizontal__link'
          href='#'
          {% if link.current %}
            aria-current='page'
          {% endif %}
        >
          <span class='xo-menu-horizontal__label'>
            {{ 'general.share.share_url' | t }}
          </span>
          {% if link.links != blank %}
            <span class='xo-menu-horizontal__arrow'>
              {% render 'icon', name: 'chevron-down', size: '1.6rem' %}
            </span>
          {% else %}
            <span class='xo-menu-horizontal__arrow xo-menu-horizontal__arrow--mega-menu'>
              {% render 'icon', name: 'chevron-down', size: '1.6rem' %}
            </span>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
