{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  <nav class='xo-pagination'>
    <ul class='xo-pagination__list'>
      <li>
        <a
          aria-label='previous button'
          rel='preload'
          href='{{ paginate.previous.url }}{{ anchor }}'
          class='
            xo-pagination__page {% if paginate.current_page == 1 %}
              xo-pagination__page--prev
            {% endif %}
          '
        >
          {% render 'icon', name: 'pagination-arrow-left', size: '24' %}
        </a>
      </li>
      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a
              rel='preload'
              href='{{ part.url }}{{ anchor }}'
              class='xo-pagination__page'
            >
              {{- part.title -}}
            </a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span
                class='xo-pagination__page xo-pagination__page--current'
              >
                {{- part.title -}}
              </span>
            {%- else -%}
              <span class='xo-pagination__page'>{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}
      <li>
        <a
          aria-label='next button'
          rel='preload'
          href='{{ paginate.next.url }}{{ anchor }}'
          class='
            xo-pagination__page
            {% if paginate.current_page == paginate.pages %}
              xo-pagination__page--next
            {% endif %}
          '
        >
          {%- render 'icon', name: 'pagination-arrow-right', size: '24' -%}
        </a>
      </li>
    </ul>
  </nav>
{%- endif -%}
