{% comment %}
  Renders a search input with predictive search results

  Accepts:
  - value: {String} The value of the search input
  - label: {String} The label for the search input

  Usage:
  {% render 'predictive-search', value: '' %}
{% endcomment %}

{% liquid
  unless value
    assign value = ''
  endunless
  assign pages = 'templates.search.pages' | t
  assign collections = 'templates.search.collections' | t
  assign products = 'templates.search.products' | t
  assign articles = 'templates.search.articles' | t
  if id != blank
    assign id = id
  else
    assign id = 'predictive-search'
  endif
%}

<div
  class='xo-predictive-search'
  data-locales='
    {
      pages: "{{ pages }}",
      collections: "{{ collections }}",
      products: "{{ products }}",
      articles: "{{ articles }}"
    }
  '
>
  <xo-animate xo-cascade class='xo-predictive-search__input'>
    <form class='xo-predictive-search__form' action='{{ routes.search_url }}' method='get'>
      {% render 'field-input', value: value, name: 'q', label: label, type: 'search', attr: "data-predictive-search-input='header'", block: true, id: id %}
    </form>
    <div class='xo-predictive-search__icon'>
      <div class='xo-predictive-search__search' data-predictive-search-reset='header'>
        {% render 'icon', name: 'search', size: '29' %}
      </div>
    </div>
  </xo-animate>
  {%- if settings.predictive_search_enabled -%}
    <div class='xo-predictive-search__result' data-predictive-search-result='header'></div>
  {%- endif -%}
</div>
