<div class='xo-product-info-content'>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'title' %}
        <xo-animate xo-cascade>
          <h1 class='xo-product-info-content__title' {{ block.shopify_attributes }}>
            {{ product.title }}
          </h1>
        </xo-animate>

      {% when 'price' %}
        <xo-animate xo-cascade>
          <xo-product-will-change xo-unique-id='product-price-{{ product.id }}' {{ block.shopify_attributes }}>
            {% if cart.taxes_included and block.settings.show_tax_included == true %}
              <span class='xo-product-info-content__price-tax'>{{ 'products.product.price.include_tax' | t }}</span>
            {% endif %}
            {% render 'price', product: product, use_variant: true %}
          </xo-product-will-change>
        </xo-animate>
      {% when 'complementary' %}
        <xo-animate xo-cascade class='xo-product-info-content__complementary'>
          {% render 'product-recommendations',
            intent: 'complementary',
            heading: block.settings.heading,
            products_to_show: block.settings.products_to_show,
            product_card_show_image: block.settings.product_card_show_image,
            product_card_show_secondary_image: block.settings.product_card_show_secondary_image,
            product_card_show_vendor: block.settings.product_card_show_vendor,
            product_card_show_description: block.settings.product_card_show_description,
            product_card_show_price: block.settings.product_card_show_price,
            product_card_show_badge: block.settings.product_card_show_badge,
            card_color_scheme: block.settings.card_color_scheme
          %}
        </xo-animate>

      {% when 'description' %}
        <xo-animate xo-cascade class='xo-product-info-content__description' {{ block.shopify_attributes }}>
          {{ product.description }}
        </xo-animate>

      {% when 'quantity_picker' %}
        <xo-animate xo-cascade {{ block.shopify_attributes }}>
          {% assign form_id = 'product_form_id-' | append: section.id %}
          {% render 'quantity', form_id: form_id %}
        </xo-animate>

      {% when 'variants' %}
        {% if product.has_only_default_variant == false %}
          {% if product.options_with_values.size > 0 %}
            {%- for option in product.options_with_values -%}
              <xo-animate xo-cascade {{ block.shopify_attributes }}>
                <xo-product-variants>
                  {% if option.name == 'Color' %}
                    {% render 'product-variant', option: option, style: block.settings.variant_color_style, is_product_detail: true %}
                  {% else %}
                    {% render 'product-variant', option: option, style: block.settings.variant_style, is_product_detail: true %}
                  {% endif %}
                </xo-product-variants>
              </xo-animate>
            {%- endfor -%}
          {% endif %}
        {% endif %}

      {% when 'buy_button' %}
        <xo-animate xo-cascade {{ block.shopify_attributes }}>
          {% render 'buy-button', block: block %}
          {% render 'cart-add-error' %}
        </xo-animate>
    {% endcase %}
  {% endfor %}
</div>
