{{ 'section-main-list-collection.css' | asset_url | stylesheet_tag }}
{{ 'collection-card.css' | asset_url | stylesheet_tag }}

<div {% render 'section-attr' %}>
  <xo-container class='container'>
    <xo-grid style='--lg: {{ section.settings.columns_desktop }}; --md: {{ section.settings.columns_desktop | minus: 1 }}; --xs: {{ section.settings.columns_mobile }}'>
      {%- for block in section.blocks -%}
        {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
        {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
        {% render 'collection-card',
          collection_item: block.settings.collection,
          media_aspect_ratio: section.settings.image_ratio,
          show_description: section.settings.description,
          placeholder_image: placeholder_image
        %}
      {%- endfor -%}
    </xo-grid>
  </xo-container>
</div>

{% schema %}
{
  "name": "t:sections.main_list_collection.name",
  "settings": [
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.image_aspect_ratio.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.image_aspect_ratio.options_1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.image_aspect_ratio.options_2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.image_aspect_ratio.options_3.label"
        },
        {
          "value": "1",
          "label": "t:sections.all.image_aspect_ratio.options_4.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.image_aspect_ratio.options_5.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.image_aspect_ratio.options_6.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.image_aspect_ratio.options_7.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "t:sections.main_list_collection.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main_list_collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main_list_collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main_list_collection.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.main_list_collection.settings.columns_mobile.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.main_list_collection.blocks.collection.label",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.main_list_collection.blocks.collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main_list_collection.presets.name",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}