{{ 'section-main-register.css' | asset_url | stylesheet_tag }}

<div {% render 'section-attr' %}>
  <xo-container class='register'>
    <xo-animate class='register__top'>
      {% if section.settings.title != blank %}
        <h2 class='register__heading'>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.description != blank %}
        <div class='register__description'>{{ section.settings.description }}</div>
      {% endif %}
    </xo-animate>
    {% render 'space', value: '4rem' %}
    <xo-grid class='register__bottom'>
      <div class='xo-register' style='--xs: 12'>
        {%- form 'create_customer', novalidate: 'novalidate', class: 'xo-sign-up__content' -%}
          {% render 'form-error', form: form %}
          <xo-grid>
            <xo-animate xo-cascade style='--lg: 6; --md: 12; --sm:12; --xs: 12'>
              {% assign first_name = 'customer.register.first_name' | t %}
              {% render 'field-input', type: 'text', name: 'customer[first_name]', label: first_name, value: form.first_name, id: 'first_name' %}
            </xo-animate>
            <xo-animate xo-cascade style='--lg: 6; --md: 12; --sm:12; --xs: 12'>
              {% assign last_name = 'customer.register.last_name' | t %}
              {% render 'field-input', type: 'text', name: 'customer[last_name]', label: last_name, value: form.last_name, id: 'last_name' %}
            </xo-animate>
            <xo-animate xo-cascade style='--lg: 12; --md: 12; --sm:12; --xs: 12' class='register__mail'>
              {% assign email = 'customer.register.email' | t %}
              {% render 'field-input', type: 'email', name: 'customer[email]', label: email, value: form.email, id: 'email' %}
              <div class='register__email-icon'>
                {% render 'icon', name: 'mail', size: '18' %}
              </div>
            </xo-animate>
            <xo-animate xo-cascade style='--lg: 12; --md: 12; --sm:12; --xs: 12' class='register__password'>
              {% assign password = 'customer.register.password' | t %}
              {% render 'field-input', type: 'password', name: 'customer[password]', label: password, id: 'password' %}
              <div class='register__password-icon'>
                <div class='register__icon-show'>
                  {% render 'icon', name: 'eye', size: '24' %}
                </div>
                <div class='register__icon-hide'>
                  {% render 'icon', name: 'eye-hide', size: '24' %}
                </div>
              </div>
            </xo-animate>
          </xo-grid>
          {% render 'space', value: '2.4rem' %}
          <xo-animate xo-cascade class='register__button'>
            {% assign btn_sign_in_text = 'customer.register.submit' | t %}
            {% render 'button', text: btn_sign_in_text, size: 'lg', block: true %}
          </xo-animate>
          <xo-animate xo-cascade class='register__sign-in'>
            <div class='register__text'>{{ 'customer.register.already' | t }}</div>
            {% assign signin = 'customer.register.signin' | t %}
            <a class='register__text-sign' href='{{ routes.account_login_url }}'>{{ signin }}</a>
          </xo-animate>
        {%- endform -%}
      </div>
    </xo-grid>
  </xo-container>
</div>

<script>
  const password = document.getElementById('password');
  const iconPassword = document.querySelector('.register__password-icon');
  const iconPasswordShow = document.querySelector('.register__icon-show');
  const iconPasswordHide = document.querySelector('.register__icon-hide');
  iconPassword.addEventListener('click', () => {
    if (password.type === 'password') {
      password.type = 'text';
      iconPasswordShow.classList.add('register__icon-show--hidden');
      iconPasswordHide.classList.add('register__icon-hide--show');
    } else {
      password.type = 'password';
      iconPasswordShow.classList.remove('register__icon-show--hidden');
      iconPasswordHide.classList.remove('register__icon-hide--show');
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.main_register.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main_register.settings.title.label",
      "default": "Page Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.main_register.settings.description.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.header_1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ]
}
{% endschema %}