{{ 'section-newsletter.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <xo-container>
    <xo-animate xo-cascade class='newsletter'>
      <div class='newsletter__heading'>
        {% render 'text',
          text: section.settings.text_heading,
          tag_name: section.settings.text_tag_name,
          duration: section.settings.text_duration,
          effect: section.settings.text_effect
        %}
      </div>
      {%- if section.settings.description != blank -%}
        <div class='newsletter__description '>{{ section.settings.description }}</div>
      {%- endif -%}
      {%- form 'customer', id: 'ContactFooter', class: 'newsletter__form' -%}
        <input type='hidden' name='contact[tags]' value='newsletter'>
        <div>
          <div class='newsletter__field-input'>
            {% assign value = form.email %}
            {% assign label = 'newsletter.label' | t %}
            {% capture attr %}
                            aria-required='true'
                            autocorrect='off'
                            {% if form.errors %}
                              autofocus
                              aria-invalid='true'
                              aria-describedby='ContactFooter-error'
                            {% elsif form.posted_successfully? %}
                              aria-describedby='ContactFooter-success'
                            {% endif %}
                            required
                          {% endcapture %}
            {% render 'field-input',
              type: 'email',
              name: 'contact[email]',
              value: value,
              label: label,
              attr: attr,
              id: 'contact[email]',
              pattern: '[A-Za-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$'
            %}
            <button
              type='submit'
              class='newsletter__field-button'
              name='commit'
              id='Subscribe'
              aria-label='{{ 'newsletter.button_label' | t }}'
            >
              {% render 'icon', name: 'arrow-with-reer-right', size: '24' %}
            </button>
          </div>

          {%- if form.errors -%}
            <small class='newsletter-form__message form__message' id='ContactFooter-error'>
              {% for error in form.errors %}
                {% if error == 'form' %}
                  {%- render 'icon-error' -%}
                  {{ form.errors.messages[error] }}
                {% else %}
                  {%- render 'icon-error' -%}
                  {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
                {% endif %}
              {% endfor %}
            </small>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
            <h6
              class='newsletter-form__message newsletter-form__message--success form__message'
              id='ContactFooter-success'
              tabindex='-1'
            >
              {{- 'newsletter.success' | t }}
            </h6>
          {%- endif -%}
        </div>
      {%- endform -%}
    </xo-animate>
  </xo-container>
</section>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header.content"
    },
    {
      "type": "select",
      "id": "text_tag_name",
      "label": "t:sections.all.text_tag_name.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.text_tag_name.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_tag_name.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_tag_name.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_tag_name.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_tag_name.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_tag_name.option__6.label"
        },
        {
          "value": "d1",
          "label": "t:sections.all.text_tag_name.option__7.label"
        },
        {
          "value": "d2",
          "label": "t:sections.all.text_tag_name.option__8.label"
        }
      ],
      "default": "h3"
    },
    {
      "type": "textarea",
      "id": "text_heading",
      "label": "t:sections.all.text_heading.label",
      "default": "Heading"
    },
    {
      "type": "number",
      "id": "text_duration",
      "label": "t:sections.all.text_duration.label",
      "default": 1000
    },
    {
      "type": "select",
      "id": "text_effect",
      "label": "t:sections.all.text_effect.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.text_effect.option__1.label"
        },
        {
          "value": "reveal",
          "label": "t:sections.all.text_effect.option__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.all.text_effect.option__3.label"
        }
      ],
      "default": "reveal"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.newsletter.settings.description.label",
      "default": "<p>Be the first to know mew collections and exclusive offers</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name"
    }
  ]
}
{% endschema %}