{{ 'section-sale-with-image.css' | asset_url | stylesheet_tag }}

{% liquid
  assign fixed_time = section.settings.timer_year | append: '-' | append: section.settings.timer_month | append: '-' | append: section.settings.timer_day | append: ' ' | append: section.settings.timer_hour | append: ':' | append: section.settings.timer_minute | append: ':' | append: section.settings.timer_minute | append: ':00'
  case section.settings.evergreen_unit
    when 'days'
      assign evergreen_time = 86400000 | times: section.settings.evergreen_value
    when 'hours'
      assign evergreen_time = 3600000 | times: section.settings.evergreen_value
    when 'minutes'
      assign evergreen_time = 60000 | times: section.settings.evergreen_value
    else
      assign evergreen_time = 1000 | times: section.settings.evergreen_value
  endcase

  if section.settings.timer_mode == 'fixed'
    assign timestamp = fixed_time | date: '%s000'
  else
    assign timestamp = 'now' | date: '%s000' | plus: evergreen_time
  endif
%}

<section {% render 'section-attr' %}>
  <div class='sale-with-image'>
    {% if section.settings.section_style == 'style-1' %}
      <xo-container>
        <xo-grid>
          <div class='sale-with-image__container' style='--xs: 12;--lg: 10;--start-lg: 2;'>
            <div class='sale-with-image__image'>
              {% render 'animate-image', image: section.settings.image, border_radius: 40, max_width: 800, aspect_ratio: section.settings.aspect_ratio %}
            </div>
            <div class='sale-with-image__content'>
              <div class="sale-with-image__content-inner">
                <xo-animate xo-cascade class='sale-with-image__time'>
                  <div class='sale-with-image__time-text h6'>{{ 'general.sale_end_in' | t }}</div>
                  <xo-countdown
                    class='sale-with-image__timer'
                    xo-timestamp='{{ timestamp }}'
                    xo-zero-pad='2'
                  >
                    <div class='sale-with-image__timer-item'>
                      <xo-countdown-day class='sale-with-image__timer-value h5'></xo-countdown-day>
                      <h2 class='sale-with-image__timer-label h5'>{{ 'general.count_down.day_time' | t }}</h2>
                    </div>
                    <div class='sale-with-image__timer-item'>
                      <xo-countdown-hour class='sale-with-image__timer-value h5'></xo-countdown-hour>
                      <h2 class='sale-with-image__timer-label h5'>{{ 'general.count_down.hour_time' | t }}</h2>
                    </div>
                    <div class='sale-with-image__timer-item'>
                      <xo-countdown-minute class='sale-with-image__timer-value h5'></xo-countdown-minute>
                      <h2 class='sale-with-image__timer-label h5'>{{ 'general.count_down.minutes_time' | t }}</h2>
                    </div>
                    <div class='sale-with-image__timer-item'>
                      <xo-countdown-second class='sale-with-image__timer-value h5'></xo-countdown-second>
                      <h2 class='sale-with-image__timer-label h5'>{{ 'general.count_down.seconds_time' | t }}</h2>
                    </div>
                  </xo-countdown>
                </xo-animate>
                <xo-animate xo-cascade>
                  <h2 class='sale-with-image__text h1'>{{ section.settings.text }}</h2>
                </xo-animate>
                <xo-animate xo-cascade>
                  <div class='sale-with-image__sale d1'>{{ section.settings.sale }}</div>
                </xo-animate>
                <xo-animate xo-cascade class='sale-with-image__button'>
                  {% render 'button',
                    text: section.settings.button_text,
                    link: section.settings.button_link,
                    size: section.settings.button_size,
                    style: section.settings.button_style,
                    icon: 'arrow-testimonial-right',
                    icon_position: 'right',
                    icon_size: '24'
                  %}
                </xo-animate>
              </div>
              <div class='sale-with-image__decoration-1'>{% render 'image', image: section.settings.decoration_1, aspect_ratio: '1' %}</div>
            </div>
          </div>
        </xo-grid>
      </xo-container>
      <div class='sale-with-image__decoration-2'>{% render 'image', image: section.settings.decoration_2, aspect_ratio: '1' %}</div>
    {% else %}
      <xo-container>
        <div class='sale-with-image__container--style-2'>
          <div class='sale-with-image__image--style-2'>
            {% render 'image', image: section.settings.image %}
          </div>
          <div class='sale-with-image__content sale-with-image__content--style-2'>
            <div>
              <xo-animate xo-cascade class='sale-with-image__time'>
                <div class='sale-with-image__time-text h6'>{{ 'general.sale_end_in' | t }}</div>
                <xo-countdown
                  class='sale-with-image__timer'
                  xo-timestamp='{{ timestamp }}'
                  xo-zero-pad='2'
                >
                  <div class='sale-with-image__timer-item'>
                    <xo-countdown-day class='sale-with-image__timer-value h5'></xo-countdown-day>
                    <h2 class='sale-with-image__timer-label h5'>{{ 'general.count_down.day_time' | t }}</h2>
                  </div>
                  <div class='sale-with-image__timer-item'>
                    <xo-countdown-hour class='sale-with-image__timer-value h5'></xo-countdown-hour>
                    <h2 class='sale-with-image__timer-label h5'>{{ 'general.count_down.hour_time' | t }}</h2>
                  </div>
                  <div class='sale-with-image__timer-item'>
                    <xo-countdown-minute class='sale-with-image__timer-value h5'></xo-countdown-minute>
                    <h2 class='sale-with-image__timer-label h5'>{{ 'general.count_down.minutes_time' | t }}</h2>
                  </div>
                  <div class='sale-with-image__timer-item'>
                    <xo-countdown-second class='sale-with-image__timer-value h5'></xo-countdown-second>
                    <h2 class='sale-with-image__timer-label h5'>{{ 'general.count_down.seconds_time' | t }}</h2>
                  </div>
                </xo-countdown>
              </xo-animate>
              <xo-animate xo-cascade>
                <h2 class='sale-with-image__text h1'>{{ section.settings.text }}</h2>
              </xo-animate>
              <xo-animate xo-cascade>
                <div class='sale-with-image__sale d1'>{{ section.settings.sale }}</div>
              </xo-animate>
              <xo-animate xo-cascade class='sale-with-image__button sale-with-image__button--style-2'>
                {% render 'button',
                  text: section.settings.button_text,
                  link: section.settings.button_link,
                  size: section.settings.button_size,
                  style: section.settings.button_style,
                  icon: 'arrow-testimonial-right',
                  icon_position: 'right',
                  icon_size: '24'
                %}
                <div class='sale-with-image__decoration-1 sale-with-image__decoration-1--style-2'>
                  {% render 'image', image: section.settings.decoration_1, aspect_ratio: '1' %}
                </div>
              </xo-animate>
            </div>
          </div>
        </div>
      </xo-container>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.sale_with_image.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_style",
      "label": "t:sections.sale_with_image.settings.section_style.label",
      "options": [
        {
          "value": "style-1",
          "label": "t:sections.sale_with_image.settings.section_style.option_1.label"
        },
        {
          "value": "style-2",
          "label": "t:sections.sale_with_image.settings.section_style.option_2.label"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "header",
      "content": "t:sections.sale_with_image.settings.header_1.content"
    },
    {
      "type": "select",
      "id": "timer_mode",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.sale_with_image.settings.timer_mode.fixed"
        },
        {
          "value": "evergreen",
          "label": "t:sections.sale_with_image.settings.timer_mode.evergreen"
        }
      ],
      "default": "fixed",
      "label": "t:sections.sale_with_image.settings.timer_mode.label"
    },
    {
      "type": "header",
      "content": "t:sections.sale_with_image.settings.header_2.content"
    },
    {
      "type": "select",
      "id": "timer_year",
      "options": [
        {
          "value": "2025",
          "label": "2025"
        },
        {
          "value": "2026",
          "label": "2026"
        },
        {
          "value": "2027",
          "label": "2027"
        },
        {
          "value": "2028",
          "label": "2028"
        },
        {
          "value": "2029",
          "label": "2029"
        },
        {
          "value": "2030",
          "label": "2030"
        },
        {
          "value": "2031",
          "label": "2031"
        },
        {
          "value": "2032",
          "label": "2032"
        },
        {
          "value": "2033",
          "label": "2033"
        },
        {
          "value": "2034",
          "label": "2034"
        },
        {
          "value": "2035",
          "label": "2035"
        }
      ],
      "default": "2025",
      "label": "t:sections.sale_with_image.settings.timer_year.label"
    },
    {
      "type": "select",
      "id": "timer_month",
      "options": [
        {
          "value": "01",
          "label": "t:sections.sale_with_image.settings.timer_month.01"
        },
        {
          "value": "02",
          "label": "t:sections.sale_with_image.settings.timer_month.02"
        },
        {
          "value": "03",
          "label": "t:sections.sale_with_image.settings.timer_month.03"
        },
        {
          "value": "04",
          "label": "t:sections.sale_with_image.settings.timer_month.04"
        },
        {
          "value": "05",
          "label": "t:sections.sale_with_image.settings.timer_month.05"
        },
        {
          "value": "06",
          "label": "t:sections.sale_with_image.settings.timer_month.06"
        },
        {
          "value": "07",
          "label": "t:sections.sale_with_image.settings.timer_month.07"
        },
        {
          "value": "08",
          "label": "t:sections.sale_with_image.settings.timer_month.08"
        },
        {
          "value": "09",
          "label": "t:sections.sale_with_image.settings.timer_month.09"
        },
        {
          "value": "10",
          "label": "t:sections.sale_with_image.settings.timer_month.10"
        },
        {
          "value": "11",
          "label": "t:sections.sale_with_image.settings.timer_month.11"
        },
        {
          "value": "12",
          "label": "t:sections.sale_with_image.settings.timer_month.12"
        }
      ],
      "default": "01",
      "label": "t:sections.sale_with_image.settings.timer_month.label"
    },
    {
      "type": "select",
      "id": "timer_day",
      "options": [
        {
          "value": "01",
          "label": "1"
        },
        {
          "value": "02",
          "label": "2"
        },
        {
          "value": "03",
          "label": "3"
        },
        {
          "value": "04",
          "label": "4"
        },
        {
          "value": "05",
          "label": "5"
        },
        {
          "value": "06",
          "label": "6"
        },
        {
          "value": "07",
          "label": "7"
        },
        {
          "value": "08",
          "label": "8"
        },
        {
          "value": "09",
          "label": "9"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "11",
          "label": "11"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "13",
          "label": "13"
        },
        {
          "value": "14",
          "label": "14"
        },
        {
          "value": "15",
          "label": "15"
        },
        {
          "value": "16",
          "label": "16"
        },
        {
          "value": "17",
          "label": "17"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "19",
          "label": "19"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "21",
          "label": "21"
        },
        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "23",
          "label": "23"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "25",
          "label": "25"
        },
        {
          "value": "26",
          "label": "26"
        },
        {
          "value": "27",
          "label": "27"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "29",
          "label": "29"
        },
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "31",
          "label": "31"
        }
      ],
      "default": "01",
      "label": "t:sections.sale_with_image.settings.timer_day.label"
    },
    {
      "type": "select",
      "id": "timer_hour",
      "options": [
        {
          "value": "00",
          "label": "12 AM"
        },
        {
          "value": "01",
          "label": "1 AM"
        },
        {
          "value": "02",
          "label": "2 AM"
        },
        {
          "value": "03",
          "label": "3 AM"
        },
        {
          "value": "04",
          "label": "4 AM"
        },
        {
          "value": "05",
          "label": "5 AM"
        },
        {
          "value": "06",
          "label": "6 AM"
        },
        {
          "value": "07",
          "label": "7 AM"
        },
        {
          "value": "08",
          "label": "8 AM"
        },
        {
          "value": "09",
          "label": "9 AM"
        },
        {
          "value": "10",
          "label": "10 AM"
        },
        {
          "value": "11",
          "label": "11 AM"
        },
        {
          "value": "12",
          "label": "12 PM"
        },
        {
          "value": "13",
          "label": "1 PM"
        },
        {
          "value": "14",
          "label": "2 PM"
        },
        {
          "value": "15",
          "label": "3 PM"
        },
        {
          "value": "16",
          "label": "4 PM"
        },
        {
          "value": "17",
          "label": "5 PM"
        },
        {
          "value": "18",
          "label": "6 PM"
        },
        {
          "value": "19",
          "label": "7 PM"
        },
        {
          "value": "20",
          "label": "8 PM"
        },
        {
          "value": "21",
          "label": "9 PM"
        },
        {
          "value": "22",
          "label": "10 PM"
        },
        {
          "value": "23",
          "label": "11 PM"
        }
      ],
      "default": "00",
      "label": "t:sections.sale_with_image.settings.timer_hour.label"
    },
    {
      "type": "select",
      "id": "timer_minute",
      "options": [
        {
          "value": "00",
          "label": "00"
        },
        {
          "value": "01",
          "label": "01"
        },
        {
          "value": "02",
          "label": "02"
        },
        {
          "value": "03",
          "label": "03"
        },
        {
          "value": "04",
          "label": "04"
        },
        {
          "value": "05",
          "label": "05"
        },
        {
          "value": "06",
          "label": "06"
        },
        {
          "value": "07",
          "label": "07"
        },
        {
          "value": "08",
          "label": "08"
        },
        {
          "value": "09",
          "label": "09"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "11",
          "label": "11"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "13",
          "label": "13"
        },
        {
          "value": "14",
          "label": "14"
        },
        {
          "value": "15",
          "label": "15"
        },
        {
          "value": "16",
          "label": "16"
        },
        {
          "value": "17",
          "label": "17"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "19",
          "label": "19"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "21",
          "label": "21"
        },
        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "23",
          "label": "23"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "25",
          "label": "25"
        },
        {
          "value": "26",
          "label": "26"
        },
        {
          "value": "27",
          "label": "27"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "29",
          "label": "29"
        },
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "31",
          "label": "31"
        },
        {
          "value": "32",
          "label": "32"
        },
        {
          "value": "33",
          "label": "33"
        },
        {
          "value": "34",
          "label": "34"
        },
        {
          "value": "35",
          "label": "35"
        },
        {
          "value": "36",
          "label": "36"
        },
        {
          "value": "37",
          "label": "37"
        },
        {
          "value": "38",
          "label": "38"
        },
        {
          "value": "39",
          "label": "39"
        },
        {
          "value": "40",
          "label": "40"
        },
        {
          "value": "41",
          "label": "41"
        },
        {
          "value": "42",
          "label": "42"
        },
        {
          "value": "43",
          "label": "43"
        },
        {
          "value": "44",
          "label": "44"
        },
        {
          "value": "45",
          "label": "45"
        },
        {
          "value": "46",
          "label": "46"
        },
        {
          "value": "47",
          "label": "47"
        },
        {
          "value": "48",
          "label": "48"
        },
        {
          "value": "49",
          "label": "49"
        },
        {
          "value": "50",
          "label": "50"
        },
        {
          "value": "51",
          "label": "51"
        },
        {
          "value": "52",
          "label": "52"
        },
        {
          "value": "53",
          "label": "53"
        },
        {
          "value": "54",
          "label": "54"
        },
        {
          "value": "55",
          "label": "55"
        },
        {
          "value": "56",
          "label": "56"
        },
        {
          "value": "57",
          "label": "57"
        },
        {
          "value": "58",
          "label": "58"
        },
        {
          "value": "59",
          "label": "59"
        },
        {
          "value": "60",
          "label": "60"
        }
      ],
      "default": "00",
      "label": "t:sections.sale_with_image.settings.timer_minute.label"
    },
    {
      "type": "header",
      "content": "t:sections.sale_with_image.settings.header_3.content"
    },
    {
      "type": "select",
      "id": "evergreen_unit",
      "label": "t:sections.sale_with_image.settings.evergreen_unit.label",
      "options": [
        {
          "value": "days",
          "label": "t:sections.sale_with_image.settings.evergreen_unit.days"
        },
        {
          "value": "hours",
          "label": "t:sections.sale_with_image.settings.evergreen_unit.hours"
        },
        {
          "value": "minutes",
          "label": "t:sections.sale_with_image.settings.evergreen_unit.minutes"
        },
        {
          "value": "seconds",
          "label": "t:sections.sale_with_image.settings.evergreen_unit.seconds"
        }
      ]
    },
    {
      "type": "number",
      "id": "evergreen_value",
      "label": "t:sections.sale_with_image.settings.evergreen_value.label",
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.sale_with_image.settings.header_4.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.sale_with_image.settings.image.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "t:sections.sale_with_image.settings.aspect_ratio.label",
      "info": "t:sections.sale_with_image.settings.aspect_ratio.info",
      "default": "3/4",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.sale_with_image.settings.aspect_ratio.options_1.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.sale_with_image.settings.aspect_ratio.options_2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.sale_with_image.settings.aspect_ratio.options_3.label"
        },
        {
          "value": "1",
          "label": "t:sections.sale_with_image.settings.aspect_ratio.options_4.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.sale_with_image.settings.aspect_ratio.options_5.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.sale_with_image.settings.aspect_ratio.options_6.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.sale_with_image.settings.aspect_ratio.options_7.label"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "decoration_1",
      "label": "t:sections.sale_with_image.settings.decoration_1.label"
    },
    {
      "type": "image_picker",
      "id": "decoration_2",
      "label": "t:sections.sale_with_image.settings.decoration_2.label",
      "info": "t:sections.sale_with_image.settings.decoration_2.info"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "t:sections.sale_with_image.settings.text.label",
      "default": "Sale text"
    },
    {
      "type": "textarea",
      "id": "sale",
      "label": "t:sections.sale_with_image.settings.sale.label",
      "default": "Sale %"
    },
    {
      "type": "header",
      "content": "t:sections.sale_with_image.settings.header_5.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.all.button_text.label",
      "default": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button_link.label",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button_style.option__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button_style.option__2.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "t:sections.all.button_size.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.all.button_size.option__0.label"
        },
        {
          "value": "sm",
          "label": "t:sections.all.button_size.option__1.label"
        },
        {
          "value": "md",
          "label": "t:sections.all.button_size.option__2.label"
        },
        {
          "value": "lg",
          "label": "t:sections.all.button_size.option__3.label"
        },
        {
          "value": "xlg",
          "label": "t:sections.all.button_size.option__4.label"
        }
      ],
      "default": "md"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.sale_with_image.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}